#/node_modules
#/public/hot
#/public/storage
#/public/assignments/*
#/storage/*.key
#/ref
/public/uploads/files
/public/uploads/images
/public/uploads/media
/vendor
.idea
.idea/*
.idea/workspace.xml
/.vagrant
/tests
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.gitignore
.env
